<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment B1 CRUD Snippets</title>
    <base href="{{baseURL}}"/>
    <link rel="stylesheet" type="text/css" href="./css/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=IBM+Plex+Sans:wght@200&family=Kumbh+Sans:wght@300&family=Monofett&family=Varta:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    {{>header}}
    <main id="main-body">
        {{>flash}}
        {{{body}}}
    </main>
    <div class="cookie-consent">
      <span id="cookie-text">This website uses cookies to store information. By continuing you consent to the usage of cookies.</span>
      <br>
      <button id="cookie-btn" class="btn">Close</button>
    </div>
<script src="./js/app.js"></script>
</body>
</html>