<div class="main-div">
    {{#if viewData.all.length}}
    {{#each viewData.all}}
      {{#if this.ownedByCurrent}}
      <section class="code-snippet-section">
        <div class="snip-info">
          <h3 class="title">{{this.title}}</h3>
          <p class="author">Author: {{this.author}}</p>
        </div>
        <textarea class="snip-text" readonly name="content" rows="8">{{this.content}}</textarea>
        <div class="link-box">
          <a href="{{this.id}}/edit" class="link-btn">Edit</a>
        </div> 
      </section>
     {{else}}
     <section class="code-snippet-section">
       <div class="snip-info">
         <h3 class="title">{{this.title}}</h3>
         <p class="author">Author: {{this.author}}</p>
       </div>
      <textarea class="snip-text" readonly rows="8">{{this.content}}</textarea>
    </section>
    {{/if}}
    {{/each}}
    {{else}}
    <p>Nothing to display</p>
  {{/if}}
</div>
