<div class="main-div">
    <form method="post" action="create-user">
        <p>What username would you like?</p>
        <input type="text" placeholder="username" name="nickname" class="input-text">
        <br>
        <br>
        <p>What passphrase would you like?</p>
        <input type="password" placeholder="passphrase" id="first-enter" name="passphrase" class="input-text">
        <input type="password" placeholder="repeat passphrase" id="second-enter" name="passRepeat" class="input-text">
        <input type="submit" class="btn" value="Submit">
    </form>
</div>