<div class="main-div">
    <h2 class="index-h2">Login Guide</h2>
    <p>This is the index page of the website. To create an account, go to the login page and choose create a new account. Once the account is created and your username and password is stored in the database, you will be invited to log in to the website. Make sure you choose a username that is unique and a password that is not too short, otherwise an error will occur.</p>
    <h2 class="index-h2">View</h2>
    <p>When going to the View page, an anonymous user can view snippets, created by authenticated users. An authenticated user can see the same things, but is also provided the option to edit the code snippets that are created by said user. Besides the snippet, all users can also see the title as well as the author of the snippet.</p>
    <h2 class="index-h2">Edit</h2>
    <p>An authenticated user can choose to view a list of all it's own snippets. For every snippet in the list, the user is offered to edit the snippet via a button. When pressing this button, the website redirects the user to a form where he or she is given the opportunity to change or delete the snippet. If the user chooses to delete the snippet, it will be permenantly removed from the database.</p>
    <h2 class="index-h2">Creating</h2>
    <p>Only an authenticated user can create a snippet and is given the option to do so in the top menu after logging in. When creating a snippet, the user is asked to type in a title and of course the content of the code snippet. When saving, the code snippet is stored in the database and the current user is set as it's author.</p>
</div>