<div class="main-div">
    <div id="login-div">
    <section id="login-form">
    <form method="post" action="login">
    <input type="text" placeholder="username" class="input-box" name="name" id="username">
    <input type="password" placeholder="passphrase" name="passphrase" id="password" class="input-text" autocomplete="current-password">
    <input type="checkbox" id="toggle">
    <span id="toggle-text">Show Password</span>
    <br>
    <input type="submit" value="Login" class="btn">
    </form>
    </section>
    <p>Click <a href="create-account">here</a> to create a new account.</p>
    </div>
</div>
