<h2>New Code Snippet</h2>
<div class="main-div">
    <section class="code-snippet-section">
      <form method="post" action="create">
        <input id="input-title" type="text" placeholder="title" name="title">
        <br>
        <textarea name="new" rows="12" class="own-snip-text">Remove this text and start typing your code snippet.</textarea>
        <br>
        <input class="btn" type="submit" value="Save">
      </form>
    </section>
    
</div>