<div class="main-div">
    <form method="post" action="../{{viewData.id}}/delete">
    <p>By continuing, the code snippet will be deleted from the database.</p>
    <button type="submit" class="btn">Continue</button>
    </form>
</div>