<div class="main-div">
  <section class="code-snippet-section">
    <form method="post" action="../{{viewData.id}}/update">
      <h3 class="title">{{viewData.title}}</h3>
      <br>
      <input type="hidden" name="id" value="{{viewData.id}}" />
      <textarea name="content" rows="12" class="own-snip-text">{{viewData.content}}</textarea>
      <div id="edit-selection">
        <button type="submit" class="btn">Save edit</button>
        <a href="../{{viewData.id}}/delete-this" class="link-btn">Delete</a>
      </div>
    </form> 
  </section>
</div>