<h2>All My Code Snippets</h2>
<div class="main-div">
    {{#if ownSnippets.all.length}}
    {{#each ownSnippets.all}}
      <section class="code-snippet-section">
        <h3 class="title">{{this.title}}</h3>
        <textarea readonly class="own-snip-text" name="content" rows="8" cols="60">{{this.content}}</textarea>
        <div id="own-link-box">
          <a href="./{{this.id}}/edit" class="link-btn">Edit</a>
        </div>
      </section>
    {{/each}}
    {{else}}
    <p>Nothing to display</p>
  {{/if}}
</div>