body {
    background-color: #2E4057;
}

.cookie-consent {
    display: none;
}

.cookie-consent.visable {
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    width: 30%;
    padding: 30px;
    background-color: rgb(202, 255, 185, 0.7);
    font-family: 'Varta', sans-serif;
}

header {
    background-color: #8CC1D1;
    width: 30%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

header h1 {
    color: #FFFFFF;
    font-size: 40px;
    padding: 30px;
    margin-top: 45px;
    font-family: 'Kumbh Sans', sans-serif;
}

nav {
    background-color: #CAFFB9;
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 10px;
}

nav a {
    color: #6A9169;
    text-decoration: none;
    font-size: 28px;
    font-weight: 100;
    font-family: 'Monofett', cursive;
    margin-right: 14px;
}

nav a:hover {
    color: #2E4057;
}

h2 {
    font-size: 30px;
    color: #AEF78E;
    margin-left: 5%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.btn {
    margin-top: 30px;
}

.main-div {
    margin: auto;
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 80%;
    padding: 30px;
}

#flash-div {
    margin: auto;
    background-color: #AEF78E;
    color: #2E4057;
    margin-top: 30px;
    font-family: 'Cutive Mono', monospace;
    width: 80%;
    padding: 30px; 
}

.code-snippet-section {
    margin-left: 30px;
    margin-bottom: 50px;
}

.snip-info {
    clear: right;
    float: left;
    width: 20%;
}

.snip-text {
    margin-left: 30px;
    width: 60%;
}

.own-snip-text {
    width: 50%;
}

.title {
    color: #638C8B ;
    font-size: 20px;
    font-weight: 1000;
    font-family: 'Lexend', sans-serif;
}

.author {
    color: #C0D461;
    font-family: 'Varta', sans-serif;
}

.link-box {
    width: 4%;
    float: right;
    text-align: center;
    padding: 25px;
    font-size: 20px;
}

#own-link-box {
    padding: 30px;
    font-size: 20px;
}

#login-form {
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    padding: 50px;
    border: solid 4px #66A182;
}

#name-box {
    height: 30px;
    margin: 10px;
}

#password-box {
    height: 30px;
    margin: 10px;
}

#login-div {
    height: 400px;
    text-align: center;
}

#login-div p {
    font-size: 20px;
}

#input-title {
    margin-bottom: 20px;
}

.error-body h1 {
    color: #FFFFFF;
}

.error-body p {
    color: #FFFFFF;
}

p {
    font-family: 'Varta', sans-serif;
}

p a {
    color: #66A182;
    text-decoration: none;
}

p a:hover {
    color: #265927;
    text-decoration: underline;
}

.link-btn {
    font-family: 'Kumbh Sans', sans-serif;
    text-decoration: none;
    font-size: 16px;
    border: 2px outset #8CC1D1;
    background-color: #C0E9F6;
    border-radius: 10px;
    padding: 7px;
    color: #2E4057;
}

.link-btn:active {
    border: 2px inset #7EAFBD;
    background-color: #9ABDC8;
    color: #2E4057;
}

.btn {
    font-family: 'Kumbh Sans', sans-serif;
    padding: 7px;
    font-size: 20px;
    color: #558564;
    text-decoration: none;
    border: none;
    background-color: #FFFFFF;
}

.btn:hover {
    text-decoration: underline;
}

#edit-selection a {
    float: right;
    margin-top: 30px;
} 

#toggle-text {
    font-family: 'Varta', sans-serif;
    font-size: 12px;
    color: gray;
}

#username {
    border: none;
    background-color: #E6E6E6;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
} 

.input-text {
    border: none;
    background-color: #E6E6E6;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}

.index-h2 {
    margin: 0;
    color:#6A9169;
}

@media screen and (max-width: 900px) {
    .cookie-consent.visable {
        left: 0;
        width: 30%;
        padding: 20px;
    }
    .cookie-consent.visable {
        width: 100%;
    }

    #login-form {
        padding: 30px;
    }

    #username {
        padding: 5px;
        margin: 2px;
        width: 75px;
    }

    .input-text {
        padding: 5px;
        margin: 2px;
        width: 75px;
    }

    nav a {
        font-size: 22px;
        margin-right: 10px;
    }

    .link-box {
        padding: 10px;
        width: 50px;
    }

    .link-btn {
       font-size: 13px;
       border: 1px outset #8CC1D1;
       border-radius: 8px;
       padding: 5px;
    }

    .title {
        font-size: 16px;
    }

    .author {
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {
    header {
        width: 100%;
    }

    header h1 {
        font-size: 30px;
    }
}
