<header>
        <h1>CRUD Snippets</h1>
        <nav>
            <a href="./">Home</a>
            <a href="/all-snippets">View</a>
            {{#if registeredUser}}
            <a href="/my-snippets">My Snippets</a>
            <a href="/create">Create Snippet</a>
            <a href="/logout">Log out</a>
              {{else}}
              <a href="./login">Login</a>
            {{/if}}
        </nav>
</header>